h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  text-transform: uppercase;
}

h3 {
  text-transform: none;
  color: $primary;
}
h4 {
  color: $primary;
  font-weight: 600;

  &:before {
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    float: left;
    margin-right: 1em;
    background-repeat: no-repeat;
  }
}

p {
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-style: italic;
}
