// header
header {
  background-color: transparent;
  .container {
    .head-wrap {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      color: $primary;
      height: 100px;
      .logo {
        margin-left: 1.5em;
        height: 75%;
        img {
          height: 100%;
          width: auto;
        }
      }

      .toggle-button {
        position: absolute;
        top: 40px;
        right: 1.5rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;

        .bar {
          height: 3px;
          width: 100%;
          background-color: $primary;
          border-radius: 10px;
        }
      }

      nav ul {
        margin: 0;
        padding: 0;
        height: 100%;

        display: flex;

        li.nav-link {
          list-style: none;
          display: flex;
          align-items: center;
          background-color: transparent;
          transition: background-color 0.5s ease-out;

          &:hover {
            transition: all 0.3s ease-out;
            box-shadow: 0 -1px 0 0 white inset, 0 -5px 0 0 $primary inset;
          }

          &::selection {
            color: white;
            background: $primary;
          }

          a {
            text-decoration: none;
            color: $black;
            padding: 1rem;
            display: block;
            //dodane
            box-shadow: 0 -1px 0 0 white inset, 0 -2px 0 0 transparent inset;
            font-weight: 500;
            text-transform: capitalize;
          }
        }
        li.nav-link.active {
          transition: all 0.3s ease-out;
          box-shadow: 0 -1px 0 0 white inset, 0 -5px 0 0 $primary inset;
        }

        li.nav-icons {
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            padding: 1rem 0.5rem;
            color: $black;

            &:hover {
              color: $primary;
              transition: all 0.3s ease-out;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .toggle-button {
    display: flex !important;
  }

  nav {
    width: 100%;
    display: none;
    position: absolute;
    top: 100px;
    background: $primary-light;
    z-index: 99;

    ul {
      flex-direction: column;
      width: 100%;
    }

    li.nav-link {
      width: 100%;
      list-style: none;
      background-color: transparent;
      transition: background-color 0.5s ease-out;
      border: none;

      &:hover {
        transition: all 0.3s ease-out;
        background-color: $primary !important;
        box-shadow: none !important;
      }

      &::selection {
        color: white;
        background: $primary;
      }

      a {
        width: 100%;
        text-align: center;
        text-decoration: none;
        padding: 0.5rem 1rem;
        color: $black;
        padding: 1rem;
        display: block;
        font-weight: 500;
        text-transform: capitalize;
        box-shadow: none !important;
      }
    }
    li.nav-link.active {
      transition: all 0.3s ease-out;
      background-color: $primary;
      box-shadow: none !important;
    }

    li.nav-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        padding: 1rem 0.5rem;
        color: $black;

        &:hover {
          color: $primary;
          transition: all 0.3s ease-out;
        }
      }
    }
  }

  nav.active {
    display: flex;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }
}
