.intro {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: calc(50vh - 100px);
  min-height: 300px;
  text-align: center;
  color: $white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;

  .intro-title {
    font-size: 3em;
    text-transform: none;
  }

  .intro-subtitle {
    font-size: 2em;
    text-transform: none;
  }
}

.intro-event {
  background-image: url("/img/intros/5event.png");
}
.intro-register {
  background-image: url("/img/intros/2register.png");
}

.intro-faq {
  background-image: url("/img/intros/4faq.png");
  background-position: left center;
}

.intro-about {
  background-image: url("/img/intros/3about.png");
}

.intro-index {
  background-image: url("/img/intros/IMG_20191231_124326.jpg");
  background-attachment: scroll;
  height: calc(80vh - 100px);
  background-position: center center;
  min-height: 400px;
  color: $black;
}
