@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "variables";
@import "fonts";
@import "header";
@import "footer";
@import "intros";

// main settings
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: auto;
}

section {
  width: 100%;
  height: 100%;
  padding: 3em 1.5em;
}

.flex {
  display: flex;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 5em;
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 5em;
}

a.btn-primary,
input[type="submit"] {
  display: inline-block;
  padding: 0.75em 1.5em;
  border: 0.1em solid $primary;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  text-decoration: none;
  font-weight: 300;

  text-align: center;
  transition: all 0.2s;
  font-style: normal;
  border-radius: 10px;

  background-color: $primary;
  border: solid $white;
  color: $white;

  &:hover {
    border: solid $primary;
    background-color: $white;
    color: $black;
  }
}

.section-divider {
  border: none;
  border-top: dotted 5px;
  border-color: $grey;
  height: 0;
}

@media (max-width: 768px) {
  p {
    text-align: left;
  }
}

//index
section.index-newsletter {
  background-color: $primary;
  color: $white;
  padding: 1.5em 1.5em;

  h3 {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
  }
}
section.index-icons {
  .wrap {
    position: relative;
  }

  #wrap-title1::before {
    background-image: url("/img/svg/globe-europe-solid.svg");
  }
  #wrap-title2::before {
    background-image: url("/img/svg/pen-solid.svg");
  }
  #wrap-title3::before {
    background-image: url("/img/svg/users-solid.svg");
    width: 30px;
    height: 30px;
  }
}

.wrap-a {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.5s ease-out;
  color: $primary;
  display: inline-block;

  &:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0 -1px 0 0 white inset, 0 -2px 0 0 $primary inset;
  }
}

section.index-memorial {
  display: flex;
  align-items: center;
  justify-content: center;

  //Slider
  .slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .slide {
      height: 150px;
      max-width: 486px;
      margin: 1.5em;

      display: none;
      .quote-content {
        font-style: italic;
      }
      .quote-author {
        float: right;
        font-size: 0.85rem;

        &::before {
          content: "- ";
        }
      }
    }
    .controls {
      position: absolute;
      top: 30%;
      font-size: 1.5em;
      padding: 15px 10px;
      border-radius: 5px;
      transition: all 0.25s ease-out;
      color: $primary;

      &:hover {
        color: $white;
        background: $primary;
      }
      &::selection {
        color: $primary;
        background: $white;
      }
    }
    #left-arrow {
      left: -6em;
    }

    #right-arrow {
      right: -6em;
    }

    .active {
      background: $primary;
    }
  }
  @media (max-width: 576px) {
    #slider {
      width: 100%;
    }

    .controls {
      font-size: 1em;
    }
  }

  @media (max-width: 768px) {
    #left-arrow {
      left: 0em !important;
    }
    #right-arrow {
      right: 0em !important;
    }
  }
}
h2.partners {
  text-align: center;
  color: $primary;
  font-weight: 600;
  font-size: 2em;
}
section.index-partners {
  padding-top: 1.5em;

  .partners-logo {
    width: 150px;
    margin: 0.5em;
  }
  .grid6 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    align-items: center;
    img {
      justify-self: center;
    }
  }
}

@media (max-width: 768px) {
  .partners-logo {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .intro-index {
    display: none;
  }
  h1.partners {
    font-size: 2rem;
  }
}

//Event

.heading-text {
  color: $primary;
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 1.5em;
}
h3.description-title {
  font-size: 1.5em;
}
section.event-descriptions {
  .w {
    .w-title {
      font-size: 1.5em;

      &:before {
        height: 1.5em;
        width: 1.5em;
      }
    }

    #w-title1:before {
      background-image: url("/img/svg/calendar-times-solid.svg");
    }
    #w-title2:before {
      background-image: url("/img/svg/map-marker-alt-solid.svg");
    }
    #w-title3:before {
      background-image: url("/img/svg/user-solid.svg");
    }
  }
}

section.event-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("/img/intros/przekierowanie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  h2.cta-title {
    color: $primary;
    font-weight: 600;
    font-size: 2em;
  }
  h3.cta-subtitle {
    color: $white;
  }

  a.btn-primary:hover {
    background-color: transparent;
    color: $white;
  }
}

section.event-table {
  .wrap {
    position: relative;
  }

  #wrap-title1::before {
    background-image: url("/img/svg/paste-solid.svg");
  }
  #wrap-title2::before {
    background-image: url("/img/svg/microphone-alt-solid.svg");
  }
  #wrap-title3::before {
    background-image: url("/img/svg/cocktail-solid.svg");
  }
  #wrap-title4::before {
    background-image: url("/img/svg/utensils-solid.svg");
  }
}

section.event-2019-photos {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 3em 0;
    img {
      width: 100%;
    }
  }
}

//Register
section.register-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $primary;

  h2.cta-title {
    color: $white;
    font-weight: 600;
    font-size: 2em;
  }
  h3.cta-subtitle {
    color: $white;
  }
}
section.register-process {
  .heading-text {
    margin-bottom: 0em;
  }
  .process-question {
    line-height: 0;
    margin-top: 2.5em;
    font-size: 1.5rem;
  }
}

//FAQ
section.accordion {
  button {
    font-size: 1em;
  }
  p {
    font-size: 1em;
  }

  .accord {
    background-color: $primary-light;
    color: $black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;

    &::after {
      content: "";
      background-image: url("/img/svg/plus-solid.svg");
      background-repeat: no-repeat;
      display: block;
      margin-left: 1em;
      height: 15px;
      width: 15px;
      float: right;
      text-align: center;
    }
  }
  .active,
  .accord:hover {
    background-color: darken($primary-light, 10%);
  }

  .active {
    &::after {
      background-image: url("/img/svg/minus-solid.svg");
    }
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: all 1s ease-out;
  }
  .panel.active {
    display: block;
  }
}

//About
@media (max-width: 768px) {
  section.about-description {
    text-align: center;
    p {
      text-align: justify;
    }
  }
}

section.about-photos {
  .team {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2em;
    text-align: center;
    &-item {
      &-img {
        width: 100%;
      }
      @media (max-width: 500px) {
        .team-item-img {
          width: 75%;
        }
      }
    }
    .item-hr {
      width: 30%;
      color: $primary;
    }
    .item-title {
      text-transform: none;
      font-size: 1em;
      margin: 0;
      margin-top: 1em;
    }
    .item-subtitle {
      text-transform: none;
      margin: 0;
      margin-top: 0.5em;
      margin-bottom: 2em;
      font-size: 0.75rem;
    }
    i {
      font-size: 2em;
    }
  }
}

//Newsletter
section.newsletter-troubleshoot {
  h2 {
    margin-bottom: 0.5em;
  }
}
section.newsletter-form {
  padding-bottom: 0;
  label {
    font-family: "Open Sans", sans-serif;
  }
  h2 {
    margin-bottom: 0.5em;
  }
  .indicates-required {
    span {
      color: $primary;
    }
    font-size: 0.8rem;
    font-style: italic;
    padding: 0.5em 0;
  }
  .mc-field-group {
    display: flex;
    flex-direction: column;
  }
  input[type="submit"] {
    margin-top: 1.5em;
  }
  input[type="email"] {
    font-family: "Open Sans", sans-serif;
    width: 50%;
    border: 2px solid lighten($color: $grey, $amount: 30%);
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;

    &:focus {
      border-color: $primary;
      box-shadow: 0 0 2px 0 $primary;
    }
  }
}
@media (max-width: 768px) {
  section.newsletter-form {
    input[type="email"] {
      width: 100%;
    }
  }
}
//404
section.error {
  h2,
  p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hide-desktop {
    display: none !important;
  }
}
